@import url('https://fonts.google.com/specimen/Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}
body {
    font-family: Poppins;
    font-size: 16px;
    background-image: url("../images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    
}
.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.text {
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    padding-left: 10px;
}
.large-text {
    flex-wrap: wrap;
    flex: 1;
    font-weight: 700;
    font-size: 60px;
    margin-top: 120px;
    width: 100%
   ;
    color: white;

}
.smaller-text {
    flex-wrap: wrap;
    width: 100%;
   
    color: whitesmoke;
    margin-top: 20px;
    
    font-size: 17px;

}
.form-header {
    flex-wrap: wrap;
    
    margin-top: 80px;
    margin-bottom: 25px;
    border: none;
    background-color: hsl(248, 32%, 49%);
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 1px 5px rgb(67, 55, 55);
    color: white;
    max-width: 400px;
    text-align: center;
    width: 100%;
    cursor: pointer;


}
.form-header:hover {
    background-color:hsl(248, 49%, 32%);

}
.form {
    
    max-width: 400px;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
   
  
    font-size: 16px;
}
.input-control {
   display: flex;
   flex-direction: column;
   margin: 10px;
}
.input-control input {
    width: 100%;
    padding: 12px;
    padding-left: 10px;

    border: 2px solid rgb(238, 236, 236);
    font-size: 15px;
    display: block;
    
    

}
.input-control input:focus {
    outline: 0;
}
.input-control.success input {
    border-color:hsl(154, 59%, 51%);
}
.input-control.error input {
    border-color: rgb(202, 5, 5);
}
.error {
    font-size: 12px;
    color: red;
    height: 49px;
    
   
}

#btn {
    background-color: hsl(154, 59%, 51%);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    border:  none;
    transition: 0.4s;
    cursor: pointer;
    margin-top: 20px;
}
#btn:hover {
    background-color:hsl(154, 89%, 33%);
}
.terms {
    color: hsl(246, 25%, 77%);
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    
    padding-left: 20px;
    padding-right: 20px;
}
#red {
    color: hsl(0, 100%, 74%);
}
footer {
    margin-top: 50px;
    font-size: 16px;
    max-width: 400px;
}
input:focus {
    background-color: hsl(0, 9%, 87%);
    
}
input:hover{
    background-color: rgb(248, 244, 244);
}

